.mat-toolbar {
  background-color: rgb(8, 8, 31);
  color: aliceblue;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 2px;
  max-height: 12%;
  width: 100%;
  font-size: 45px;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;

  align-content: flex-start;
}

.mat-icon {
  margin-right: 30px;
  margin-left: 0px;
  margin-bottom: 10px;
  background-color: rgb(8, 8, 31);
  color: aliceblue;
 }

span {
  margin-left: 25%;
}

button {
  background-color: rgb(8, 8, 31);
  width: 45px;
  border-color: rgb(8, 8, 31);
}

form {
  width: 100%;
  margin-left: 25%;
}
